<div [ngbCollapse]="isCollapsed">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <ul ngbNav #nav="ngbNav" class="nav-tabs navbar-nav">
      <li ngbNavItem>
        <a ngbNavLink class="nav-item">The Beginning</a>
        <ng-template ngbNavContent>
          <app-the-beginning></app-the-beginning>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>The Present</a>
        <ng-template ngbNavContent>
          <p>Because default values have been customized in the config</p>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>RSVP</a>
        <ng-template ngbNavContent>
          <p>Because default values have been customized in the config</p>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>The Venue</a>
        <ng-template ngbNavContent>
          <p>Because default values have been customized in the config</p>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>The Happily ever after</a>
        <ng-template ngbNavContent>
          <p>Because default values have been customized in the config</p>
        </ng-template>
      </li>
    </ul>
  </nav>
</div>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor03"
    aria-controls="navbarColor03"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarColor03"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav> -->
