<div class="container-fluid">
  <div class="container">
    <div class="center-align filter-color">
      <img height="120px" src="/assets/images/ganapathi.png" />
    </div>
    <div class="center-align">
      <p class="font-estimations">
        We coordially invite you to join our wedding celebrations
      </p>
      <h1 class="pb-3 pt-2 heading font-estimations">Pavan & Padmaja</h1>
    </div>
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center bottom">
        <div class="square">
          <img src="/assets/images/haldi.jpeg" />
        </div>
      </div>
      <div class="col-6"><h2>Haldi</h2></div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-6 text-right">
        <h2 class="text-align-right">Reception</h2>
      </div>
      <div class="col-2 text-center full">
        <div class="square">
          <img src="/assets/images/dance.jpeg" />
        </div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center top">
        <div class="square">
          <img src="/assets/images/muhurth.jpeg" />
        </div>
      </div>
      <div class="col-6"><h2>Muhurth</h2></div>
    </div>
  </div>
</div>
