<div class="container-fluid">
  <div class="container">
    <div class="center-align filter-color">
      <img class="ganesha-height" src="/assets/images/ganapathi.png" />
    </div>
    <div class="center-align">
      <p class="font-estimations">
        We coordially invite you to join our wedding celebrations
      </p>
      <h1 class="pb-3 pt-2 heading font-estimations">Pavan & Padmaja</h1>
    </div>
    <!--first section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center bottom">
        <div class="square">
          <img src="/assets/images/haldi.jpeg" />
        </div>
      </div>
      <div class="col-8">
        <p class="text-align-center">Haldi</p>
        <p class="text-align-center dragon-font">23 November, 2023</p>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works">
      <div class="col-8 text-right">
        <p class="text-align-center">Reception</p>
        <p class="text-align-center dragon-font">24 November, 2023</p>
        <p class="text-align-center dragon-font">6 PM onwards</p>
      </div>
      <div class="col-2 text-center full">
        <div class="square">
          <img src="/assets/images/dance.jpeg" />
        </div>
      </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr />
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works">
      <div class="col-2 text-center top">
        <div class="square">
          <img src="/assets/images/muhurth.jpeg" />
        </div>
      </div>
      <div class="col-8">
        <p class="text-align-center">Muhurtham</p>
        <p class="text-align-center dragon-font">25 November, 2023</p>
        <p class="text-align-center dragon-font">9:30-11:00 AM</p>
      </div>
    </div>
    <div class="text-align-center dragon-font less-size">
      <a
        target="_blank"
        href="https://www.google.com/maps/place/G.R+Function+Hall/@14.6905394,77.590522,17z/data=!3m1!4b1!4m6!3m5!1s0x3bb14ace83838faf:0xcd7f6faf033f47f3!8m2!3d14.6905394!4d77.5930969!16s%2Fg%2F11f3t3vt_k?entry=ttu"
      >
        <p>Location: G.R Function hall,</p>
        <p>3rd Road, Anantapur,</p>
        <p>Andhra Pradesh 515004</p>
      </a>
    </div>
  </div>
</div>
<div>
  <img class="peacock-bttm-lft" src="/assets/images/peacock21.svg" />
  <img class="peacock-bttm-rt" src="/assets/images/peacock21.svg" />
</div>
